<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversational Avatar</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css') }}">
</head>
<body>
    <h1>Conversational Avatar</h1>

    <div class="avatar-wrapper">
        <button id="male-btn" class="switch-btn left-btn">Male Avatar</button>
        <div id="avatar-container">
            <video id="avatar-video" loop playsinline></video>
        </div>
        <button id="female-btn" class="switch-btn right-btn">Female Avatar</button>
    </div>

    <div id="chat-container"></div>

    <div class="button-container">
        <button id="start-convo-btn" >Start Conversation</button>
        <button id="speak-btn" disabled>Speak</button>
    </div>
    <a href="/" class="button-class">Home</a>

     <!-- Store video sources as data attributes -->
     <div id="avatar-sources"
     data-male-video="{{ url_for('static', filename='assets/talkingavatar.mp4') }}"
     data-idle-male-video="{{ url_for('static', filename='assets/idleavatar.mp4') }}"
     data-female-video="{{ url_for('static', filename='assets/talkingavatarfemale.mp4') }}"
     data-idle-female-video="{{ url_for('static', filename='assets/idleavatarfemale.mp4') }}">
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>