<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversational Avatar</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css') }}">
</head>
<body>
    <h1>Conversational Avatar</h1>

    <div class="avatar-wrapper">
        <button id="male-btn" class="switch-btn left-btn">Male Avatar</button>
        <div id="avatar-container">
            <img id="avatar-image" src="/static/avatar_idle.png" alt="Avatar">
        </div>
        <button id="female-btn" class="switch-btn right-btn">Female Avatar</button>
    </div>
    
    
    <div id="chat-container">
    </div>


    <button id="start-convo-btn" >Start Conversation</button>
    <button id="speak-btn" disabled>Speak</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        const neutralAvatarUrl = "{{ url_for('static', filename='idealAvatar.png') }}";
        const mouthOpened01 = "{{ url_for('static', filename='mouthOpened0.1.png') }}";
        const mouthOpened02 = "{{ url_for('static', filename='mouthOpened0.2.png') }}";
        const mouthOpened03 = "{{ url_for('static', filename='mouthOpened0.3.png') }}";
        const mouthOpened04 = "{{ url_for('static', filename='mouthOpened0.4.png') }}";
        const mouthOpened05 = "{{ url_for('static', filename='mouthOpened0.5.png') }}";
        const mouthOpened06 = "{{ url_for('static', filename='mouthOpened0.6.png') }}";
        const mouthOpened07 = "{{ url_for('static', filename='mouthOpened0.7.png') }}";
        const mouthOpened08 = "{{ url_for('static', filename='mouthOpened0.8.png') }}";
        const mouthOpened09 = "{{ url_for('static', filename='mouthOpened0.9.png') }}";
        const mouthOpened1 = "{{ url_for('static', filename='mouthOpenedFully.png') }}";
    </script>
</body>
</html>